---
import BaseLayout from "../../layouts/BaseLayout.astro"

import Warning from "../../components/Warning.astro"
import CourseCard from "../../components/CourseCard.astro"
import { coerce } from "astro:schema"

const pageTitle = "Nos cours"
const pageDescription = "Passez au niveau supérieur avec des cours en ligne gratuits couvrant des sujets avancés en programmation et DevOps."

// For now, I put the courses links here
type Course = {
    name: string
    description: string
    href: string
    img: string
}

const COURSES: Course[] = [
    {
        name: "Conteneurisez vos applications avec Docker",
        description: "Une super description",
        href: "/cours/docker-et-docker-compose",
        img: "/port-sous-neige.png"
    },
    {
        name: "Maîtrisez les pipelines CI/CD avec les GitHub Actions",
        description: "Une super description",
        href: "/cours/ci-cd-github-actions",
        img: "/port-sous-neige.png"
    }
]
---

<BaseLayout title={pageTitle} description={pageDescription}>
    <main class="main-wrapper">
        <h1>Nos derniers cours</h1>
        <Warning />
        <ul class="courses-wrapper">
            {
                COURSES.map(course => (
                    <li>
                        <CourseCard name={course.name} href={course.href} img={course.img} description={course.description} />
                    </li>
                ))
            }
        </ul>
    </main>
</BaseLayout>


<style>
    .main-wrapper {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        max-width: 1100px;
    }

    .courses-wrapper {
        margin-top: 16px;
        list-style-type: none;
        padding-left: 0;
        display: grid;
        gap: 32px;
    }

    .course-link {
        color: #FFF;
        text-decoration: none;
    }
</style>
