---
import type { Breadcrumb } from "../../../types/Breadcrumb";
import type { Chapter } from "../../../types/Chapter";

import BaseLayout from "../../../layouts/BaseLayout.astro";
import Testimonial from "../../../components/Testimonial.astro"

const pageTitle = "Conteneurisez vos applications avec Docker";
const pageDescription = "Une super description";

const courseChapters = Object.values(
  import.meta.glob("./chapitres/*.md", { eager: true }),
) as Chapter[];

const breadCrumbs: Breadcrumb[] = [
  {
    pageName: "Accueil",
    pageUrl: "/",
  },
  {
    pageName: "Cours",
    pageUrl: "/cours",
  },
];
---

<BaseLayout
  title={pageTitle}
  description={pageDescription}
  breadcrumbs={breadCrumbs}
>
  <main class="main-wrapper">
    <section class="course-heading">
      <h1 class="course-title">{pageTitle}</h1>
      <img class="course-picture" src="/port-sous-neige.png" alt="">
      <p>
        Apprenez à utiliser Docker et docker compose par la pratique. Découvrez comment Docker peut faciliter le développement d'applications et leur mise en production. 
      </p>
    </section>
    <section>
      <h2>Skills</h2>
    </section>
    <section class="course-content-section">
      <h2>Contenu du cours</h2>
      <ul>
        {
          courseChapters
            .sort(
              (chapter1, chapter2) =>
                chapter1.frontmatter.id - chapter2.frontmatter.id,
            )
            .map((chapter) => (
              <li>
                <a href={chapter.url}>{chapter.frontmatter.title}</a>
              </li>
            ))
        }
      </ul>
    </section>
    <section class="testimonials-section">
      <h2>Testimonials</h2>
      <ul class="testimonials-list">
        <li>
          <Testimonial />
        </li>
        <li>
          <Testimonial />
        </li>
        <li>
          <Testimonial />
        </li>
      </ul>
    </section>
  </main>
</BaseLayout>

<style>
  .main-wrapper {
    max-width: 1100px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .main-wrapper a {
    color: #bababa;

    &:hover {
      color: #4effa0;
    }
  }

  .course-heading {
    margin-bottom: 32px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  .course-picture {
    margin-bottom: 24px;
  }

  .testimonials-list {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    overflow: scroll;
    gap: 24px;

    li {
      min-width: 80%;
    }
  }
</style>
