---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Changelog";
const pageDescription =
  "NX Academy est regulièrement mis à jour. J'utilise cette page pour vous tenir au courant des derniers fixes et fonctionnalités.";

import { ALL_MONTHS } from "../data/changelog";
---

<BaseLayout title={pageTitle} description={pageDescription}>
  <main class="main-wrapper">
    <h1>Changelog</h1>
    <div class="changelog-description">
      <p>
        Merci de prendre le temps de consulter ce changelog. Si le terme ne vous
        est pas familier, sachez qu’il s’agit simplement <strong
          >d’un journal de mise à jour</strong
        >. L’idée ici est de vous tenir au courant des évolutions de NX Academy
        : nouvelles fonctionnalités, corrections, ajustements.
      </p>
      <p>
        Pour votre information, je travaille sur la nouvelle version de NX
        Academy depuis environ 9 mois. Cela dit, je n'ai pas tout le temps eu
        autant de temps que je l'aurais souhaité pour travailler dessus. <strong
          >J'ai lancé ce changelog en Avril 2025.</strong
        > Je vais continuer à le mettre à jour après ce mois et j'essayerais d'ajouter
        des dates avant, dans la mesure du possible.
      </p>
      <p>Bonne lecture 🙂 !</p>
    </div>
    {
      ALL_MONTHS.map((month) => (
        <section class="monthly-section">
          <h2>{month.month} 2025</h2>
          <section class="kind-section">
            <h3>🟢 Les nouveautés et mises à jour du mois</h3>
            <ul class="logs-list">
              {month.tasks
                .filter((task) => task.kind === "done")
                .map((task) => (
                  <li set:html={task.content} />
                ))}
            </ul>
          </section>
          <section class="kind-section">
            <h3>🟡 Les projets en cours</h3>
            <ul class="logs-list">
              {month.tasks
                .filter((task) => task.kind === "in-progress")
                .map((task) => (
                  <li set:html={task.content} />
                ))}
            </ul>
          </section>
          <section class="kind-section">
            <h3>🔴 Les corrections de bugs</h3>
            <ul class="logs-list">
              {month.tasks
                .filter((task) => task.kind === "fix")
                .map((task) => (
                  <li set:html={task.content} />
                ))}
            </ul>
          </section>
        </section>
      ))
    }
  </main>
</BaseLayout>

<style>
  .main-wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    max-inline-size: 66ch;
  }

  .changelog-description {
    padding-top: 24px;
    margin-bottom: 56px;
  }

  h1 {
    margin-top: 0;
  }

  h2 {
    margin-bottom: 24px;
  }

  h3 {
    margin-bottom: 8px;
  }

  p,
  li {
    margin-bottom: 24px;
    color: #bababa;
    font-size: clamp(0.875rem, 0.75rem + 1.5vw, 1.125rem);
  }

  a {
    color:;
  }

  .monthly-section {
    margin-bottom: 80px;
  }

  .kind-section {
    margin-bottom: 40px;
  }

  .logs-list li {
    margin-bottom: 8px;

    a {
      text-decoration: none;
      color: #4effa0;
      font-weight: 500;
      transition: 0.4s color;

      &:hover {
        color: #4effa0aa;
      }
    }
  }
</style>
