---
import BaseLayout from "../layouts/BaseLayout.astro";

import Banner from "../components/Banner.astro";
import Hero from "../components/Hero.astro";
import Card from "../components/Card.astro";

const articles = await Astro.glob("./articles/*.md");
const cheatsheets = await Astro.glob("./fiches/*.md");

const content = cheatsheets.concat(articles);
const heroContent = content.filter(
  (c) => c.frontmatter.title === "Les retours de fonction en Javascript",
)[0];

---

<BaseLayout>
  <main>
    <Hero
      kind={heroContent.frontmatter.kind}
      href={heroContent.url!}
      title={heroContent.frontmatter.title}
      description={heroContent.frontmatter.description}
      imgAlt={heroContent.frontmatter.imgAlt}
      imgSrc={heroContent.frontmatter.imgSrc}
      author="Oumar"
    />
    <Banner />
    <section class="cards-wrapper">
      {
        content.map((c) => (
          <Card
            kind={c.frontmatter.kind}
            href={c.url!}
            title={c.frontmatter.title}
            description={c.frontmatter.description}
            level={c.frontmatter.level}
            imgAlt={c.frontmatter.imgAlt}
            imgSrc={c.frontmatter.imgSrc}
          />
        ))
      }
    </section>
  </main>
</BaseLayout>

<style>
  main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    width: 90%;
  }

  .cards-wrapper {
    display: grid;
    gap: 2.5rem;
    margin-top: 2.5rem;

    @media screen and (min-width: 48rem) {
      margin-top: 3rem;
      grid-template-columns: repeat(2, 1fr);
      gap: 5rem;
    }

    @media screen and (min-width: 90rem) {
      margin-top: 3rem;
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
