---
interface Props {
  author: string;
  description: string;
  href: string;
  imgAlt: string;
  imgSrc: string;
  kind: string;
  level?: string;
  publishedDate: string;
  title: string;
}

import Heading3 from "./Heading3.astro";
import ParagraphExtraSmall from "./ParagraphExtraSmall.astro";
import ParagraphLarge from "./ParagraphLarge.astro";
import ParagraphSmall from "./ParagraphSmall.astro";

const {
  description,
  href,
  imgAlt,
  imgSrc,
  level,
  title,
  kind,
  author,
  publishedDate,
} = Astro.props;
---

<a href={href}>
  <img loading="lazy" class="image" src={`${imgSrc}`} alt={imgAlt} />
  <ParagraphLarge content={kind} />
  <Heading3 content={title} />
  {level && <ParagraphExtraSmall content={`Niveau : ${level}`} />}
  <ParagraphSmall content={description} />
  <ParagraphExtraSmall
    content=`Par ${author} - le ${new Date(publishedDate).toLocaleDateString('fr-FR')}`
  />
</a>

<style>
  a {
    border-radius: 16px;
    display: grid;
    gap: 0.5rem;
    transition: 0.4s;
    color: var(--linkColor);
  }

  a:hover :global(h3) {
    color: var(--linkHoverColor);
  }

  .image {
    border-radius: 16px;
    transition: 0.4s;
    aspect-ratio: 1792 / 1024;
    object-fit: cover;
    object-position: top;
    width: 100%;
    display: block;
  }
</style>
