---
interface Props {
    description: string
    href: string
    imgAlt: string
    imgSrc: string
    title: string
}

import Button from "./Button.astro"

const {
    description,
    href,
    imgAlt,
    imgSrc,
    title
} = Astro.props
---

<div>
    <img src={imgSrc} alt={imgAlt}>
    <p class="title">{title}</p>
    <p class="description">{description}</p>
    <span class="link">
        <Button label="Lire la fiche" type="primary" href={href} />
    </span>
    
</div>

<style>
    div {
        display: grid;
        margin-bottom: 1rem;
        background-color: #252525;
        padding: 1rem;
        border-radius: 8px;

        grid-template-areas: "image"
            "title"
            "description"
            "link"
        ;
        gap: 1rem;
    }

    p {
        margin-bottom: 0;
    }

    img {
        grid-area: image;
    }

    .title {
        grid-area: title;
        font-size: 1.25rem;
        font-weight: 700;
    }

    .description {
        grid-area: description;
    }

    .link {
        grid-area: link;
        margin-top: auto;
    }

    .link :global(a) {
        width: 100%;
    }
</style>
