---
import type { Cheatsheet } from "../../types/Cheatsheet";

import BaseLayout from "../../layouts/BaseLayout.astro";

import Card from "../../components/Card.astro";

const cheatsheets = Object.values(
  import.meta.glob("./*.md", { eager: true }),
) as Cheatsheet[];

const title = "Nos dernières fiches techniques";
const description =
  "Une fiche technique est un guide de référence pratique autour d'une notion. Nous vous expliquons les notions et des astuceq pour les intégrer facilement à vos projets.";
---

<BaseLayout title={title} description={description}>
  <div class="wrapper">
    <section>
      <h1>Nos dernières fiches techniques</h1>
      <p>
        Une fiche technique est un guide de référence pratique autour d'une
        notion. Par exemple, comment faire des designs fluides ou qu'est-ce que
        le <strong>this en JavaScript.</strong>
      </p>
      <p>
        Les fiches techniques sont particulièrement utiles pour expliquer un
        concept rapidement et simplement. Elles concernent aussi bien le HTML,
        CSS et JavaScript que le DevOps.
      </p>

      <div class="cards-wrapper">
        {
          cheatsheets
            .filter((cheatsheet) => !cheatsheet.frontmatter.draft)
            .sort(
              (item1, item2) =>
                new Date(item2.frontmatter.publishedDate).getTime() -
                new Date(item1.frontmatter.publishedDate).getTime(),
            )
            .map((cheatsheet) => (
              <Card
                kind="Fiche Technique"
                href={cheatsheet.url!}
                title={cheatsheet.frontmatter.title}
                description={cheatsheet.frontmatter.description}
                level={cheatsheet.frontmatter.level}
                imgAlt={cheatsheet.frontmatter.imgAlt}
                imgSrc={cheatsheet.frontmatter.imgSrc}
                author={cheatsheet.frontmatter.author}
                publishedDate={cheatsheet.frontmatter.publishedDate}
              />
            ))
        }
      </div>
    </section>
  </div>
</BaseLayout>

<style>
  .wrapper {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  section {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
  }

  .cards-wrapper {
    display: grid;
    gap: 2.5rem;

    @media screen and (min-width: 48rem) {
      margin-top: 3rem;
      grid-template-columns: repeat(2, 1fr);
      gap: 5rem;
    }

    @media screen and (min-width: 90rem) {
      margin-top: 3rem;
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
