---
import type { Breadcrumb } from "../../../types/Breadcrumb"
import type { Chapter } from "../../../types/Chapter";

import BaseLayout from "../../../layouts/BaseLayout.astro";

import Warning from "../../../components/Warning.astro"

const pageTitle = "Maîtrisez les pipelines CI/CD avec les GitHub Actions";
const pageDescription = "Une super description";

const courseChapters = Object.values(
  import.meta.glob("./chapitres/*.md", { eager: true })
) as Chapter[];

const breadCrumbs: Breadcrumb[] = [
  {
    pageName: "Accueil",
    pageUrl: "/",
  },
  {
    pageName: "Cours",
    pageUrl: "/cours",
  },
];
---

<BaseLayout title={pageTitle} description={pageDescription} breadcrumbs={breadCrumbs}>
  <div class="main-wrapper">
    <Warning />
    <h1>{pageTitle}</h1>
    <h2>Contenu du cours</h2>
    <ul>
      {
        courseChapters
          .sort(
            (chapter1, chapter2) =>
              chapter1.frontmatter.id -
              chapter2.frontmatter.id
          )
          .map((chapter) => (
            <li>
              <a href={chapter.url}>{chapter.frontmatter.title}</a>
            </li>
          ))
      }
    </ul>
  </div>
</BaseLayout>

<style>
  .main-wrapper {
    max-width: 1100px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    margin-top: 0;
  }

  .main-wrapper a {
    color: #bababa;

    &:hover {
      color: #4effa0;
    }
  }
</style>
