---
import type { Breadcrumb } from "../types/Breadcrumb"

interface Props {
  title?: string,
  description?: string
  breadcrumbs?: Breadcrumb[]
  image?: string
  pubDate?: string
}

import "@fontsource/pixelify-sans";
import "@fontsource/space-grotesk";
import '@fontsource-variable/inter';

import "../styles/normalize.css"
import "../styles/reset.css"

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro"
import ScrollToTopButton from "../components/ScrollToTopButton.astro"
import ResumeSnackbar from "../components/ResumeSnackbar"

let { title, description, breadcrumbs, image, pubDate } = Astro.props

title = title ? `${title} - NX Academy` : "Passez au niveau supérieur en programmation avec NX Academy"
description = description ? description : "Avec NX Academy, suivez gratuitement des cours en ligne et améliorez vos compétences en programmation et devops. Aucun compte n'est requis."
image = image ? image : "https://nx.academy/vendeur-journaux.webp"
pubDate = pubDate ? pubDate : new Date().toLocaleDateString("fr-FR")


const { pathname } = Astro.url
---

<html lang="FR-fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/site.webmanifest">

    <link rel="sitemap" href="/sitemap-index.xml" />
    
    <title>{title}</title>
    <meta name="description" content={description}>

    <!-- Open Graph -->
    <meta property="og:type" content="article" />
    <meta property="og:url" content={`https://nx.academy${pathname}`} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <link
      rel="alternate"
      type="application/rss+xml"
      title="NX Academy"
      href={new URL("rss.xml", Astro.site)}
    />

    {
      import.meta.env.PROD && <script>
        (function(h,o,u,n,d) {
          // @ts-ignore
          h=h[d]=h[d]||{q:[],onReady:function(c){h.q.push(c)}}
          // @ts-ignore
          d=o.createElement(u);d.async=1;d.src=n
          // @ts-ignore
          n=o.getElementsByTagName(u)[0];n.parentNode.insertBefore(d,n)
        })(window,document,'script','https://www.datadoghq-browser-agent.com/eu1/v6/datadog-rum.js','DD_RUM')
        // @ts-ignore
        window.DD_RUM.onReady(function() {
          // @ts-ignore
        window.DD_RUM.init({
          clientToken: 'pub7662c92e1ecc427c59eda2d0034f7bc7',
          applicationId: 'a1998a8c-a21e-4944-a708-9f628663f454',
          // `site` refers to the Datadog site parameter of your organization
          // see https://docs.datadoghq.com/getting_started/site/
          site: 'datadoghq.eu',
          service: 'nx-academy-website',
          env: 'prod',
          // Specify a version number to identify the deployed version of your application in Datadog
          version: '1.0.0',
          sessionSampleRate: 100,
          sessionReplaySampleRate: 20,
          defaultPrivacyLevel: 'mask-user-input',
        });
      })</script>
    }

    

  </head>
  <body>
    <div class="page-wrapper">
      <Header />
      {
        pathname !== "/" && <Breadcrumbs breadcrumbs={breadcrumbs} />
      }
      <div style="flex: 1;">
        <slot />
      </div>
      <Footer />
      <ScrollToTopButton />
      <ResumeSnackbar client:load />
    </div>
  </body>
</html>

<style is:global>
  html, body {
    height: 100%;
    margin: 0;
  }

  body {
    background-color: #151515;
    color: #fff;
    font-family: 'Inter Variable', sans-serif;
  }

  h1,
  h2,
  h3 {
    font-family: "Space Grotesk", sans-serif;
  }

  .page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
</style>
