---
import type { Breadcrumb } from "../types/Breadcrumb";

type Heading = {
  depth: number;
  slug: string;
  text: string;
};

interface Props {
  frontmatter: {
    title: string;
    description: string;
    imgSrc?: string;
  };
  headings: Heading[];
}

import BaseLayout from "./BaseLayout.astro";
import StickyOutline from "../components/StickyOutline.astro";

const {
  frontmatter: { title, description, imgSrc },
  headings,
} = Astro.props;

const breadCrumbs: Breadcrumb[] = [
  {
    pageName: "Accueil",
    pageUrl: "/",
  },
  {
    pageName: "Fiches techniques",
    pageUrl: "/fiches",
  },
];
---

<BaseLayout
  breadcrumbs={breadCrumbs}
  description={description}
  image={imgSrc}
  title={title}
>
  <main>
    <section>
      <slot />
    </section>
    <aside>
      <div class="aside-wrapper">
        <StickyOutline headings={headings} pageType="fiche" />
      </div>
    </aside>
  </main>
</BaseLayout>

<style>
  main {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 90%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1024px) {
      display: grid;
      grid-template-columns: 65% 30%;
      gap: 64px;
    }
  }

  .aside-wrapper {
    display: none;

    @media screen and (min-width: 1024px) {
      display: initial;
      position: sticky;
      top: 24px;
    }
  }
</style>

<style is:global>
  img {
    max-width: 100%;
    border-radius: 8px;
  }

  h1 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: var(--titleColor);
  }

  h2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    color: var(--titleColor);
  }

  p {
    margin-bottom: 1.5rem;
    color: var(--textColor);
    font-size: clamp(0.875rem, 0.75rem + 1.5vw, 1.125rem);
  }

  ul {
    color: var(--textColor);
    margin-bottom: 2.5rem;
  }

  li {
    /* margin-bottom: 1rem; */
    color: var(--textColor);
    font-size: clamp(0.875rem, 0.75rem + 1.5vw, 1.125rem);
  }

  hr {
    margin-bottom: 3rem;
    margin-top: 2rem;
  }

  a {
    text-decoration: none;
    color: var(--articleLinkColor);
    font-weight: 500;
    transition: 0.4s color;

    &:hover {
      color: var(--articleLinkHoverColor);
    }
  }

  p > code {
    background-color: var(--codeBackgroundColor);
    padding: 0.25rem;
    color: var(--codeTextColor);
  }

  pre,
  ul {
    margin-bottom: 2rem;
  }

  blockquote {
    padding-left: 2rem;
    font-style: italic;
  }

  small {
    font-size: 14px;
    color: var(--textColor);
    margin-bottom: 2.5rem;
    display: block;
  }
</style>

<script>
  import handleReadingTime from "../utils/estimateReadingTime";
  handleReadingTime();
</script>
