---
import type { Breadcrumb } from "../types/Breadcrumb";

interface Props {
  srcPicture: string;
  altPicture: string;
  courseTitle: string;
  courseDescription: string;
  courseUrl: string;
}

import BaseLayout from "./BaseLayout.astro";
import Button from "../components/Button.astro";

const breadCrumbs: Breadcrumb[] = [
  {
    pageName: "Accueil",
    pageUrl: "/",
  },
  {
    pageName: "Cours",
    pageUrl: "/cours",
  },
];

const { altPicture, srcPicture, courseTitle, courseDescription, courseUrl } =
  Astro.props;
---

<BaseLayout
  title={courseTitle}
  description={courseDescription}
  breadcrumbs={breadCrumbs}
>
  <main class="main-wrapper">
    <section class="main-section">
      <div>
        <section class="course-heading">
          <h1 class="course-title">{courseTitle}</h1>
          <img class="course-picture" src={srcPicture} alt={altPicture} />
          <p>{courseDescription}</p>
          <Button label="Commencer le cours" type="primary" href={courseUrl} />
        </section>
        <section></section>
      </div>
    </section>
    <section class="testimonials-section"></section>
  </main>
</BaseLayout>

<style>
  .main-wrapper {
    max-width: 1100px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .main-wrapper a {
    color: var(--linkColor);
    transition: 0.4s;

    &:hover {
      color: var(--linkHoverColor);
    }
  }

  .course-heading {
    margin-bottom: 48px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  .course-picture {
    margin-bottom: 24px;
    width: 100%;
    object-fit: cover;
  }
</style>
